.home {
  max-width: 1240px;
  margin: 0 auto;
}

.cards {
  background: #f6f6f6;
  border-radius: 25px;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

@media (max-width: 768px) {
  .cards {
    background: none;
    padding: 0;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}